    body{
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        border-radius: 100px;
        width: 45px;
        font-size: 1.5rem;
        padding: 8px;
        text-align: center;
        position: relative;
        top: 10px;
        opacity: 1;
        border: none;
        margin-top:10px ;

    }
    #add, #clear, #division, #subtract, #multiply, #division{
        background-color: red;
        color: white;
    }

    #display{
        width: 200px;
        height: 50px;
        border-radius: 5px;
        background-color:#31363F ;
        border: none;
        display: flex;
        align-items: center;
        padding: 2px;
        color: white;
        font-size: 1.3rem;
    }

    
    button:hover{
        cursor: pointer;
    }
    .main-con{
        width: 205px;
        height: 365px;
        
        padding: 8px;
        
        border-radius: 10px;
        background-color:#222831;
        
    }
    .button-holder{
        display:grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        position:absolute;
        margin-left: 5px;
        gap: 3px;
    }